* {
    padding: 0;
    margin: 0;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
}

.game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    background-color: skyblue;
    /* will center it */
    margin: auto;
    /* keeps the blocks from showing up outside the game */
    overflow: hidden;
}

.header {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.block {
    width: 50px;
    height: 500px;
    background-color: green;
    position: relative;
    left: 400px;
}

.block_animation {
    animation: block 2s infinite linear;
}

@keyframes block {
    0% {
        left: 400px;
    }
    100% {
        left: -50px;
    }
}

.space {
    width: 50px;
    height: 150px;
    background-color: skyblue;
    position: relative;
    left: 400px;
    top: -500px;

    /* animation: block 2s infinite linear; */
}

.character {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}
.button {
    margin: auto;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
